* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --titulo: #8900ca;
  --fundo: #f3daff;
}
body {
  font-size: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background: #f4f4f4;
}
/* ----------header---------- */
#header {
  width: 100%;
  height: 4.125rem;
  background-color: var(--fundo);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header p,
#header h1 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  color: var(--titulo);
}
span {
  color: black;
  font-size: 1.5rem;
}
img {
  display: inline-block;
  height: 14.9375rem;
  width: 20.9375rem;
}
/* ----------main---------- */
.image {
  text-align: center;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.image2 {
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.food {
  padding: 1.25rem;
  text-align: center;
}
ul {
  list-style: none;
}
.texto {
  text-align: left;
}
li {
  text-align: center;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.625rem;
  color: var(--titulo);
}
.button {
  display: inline-block;
  text-align: center;
  padding-top: 1.25rem;
}
.button2 {
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
  width: 6.25rem;
  height: 2.75rem;
  background: var(--fundo);
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: var(--titulo);
}
.button2:hover {
  color: var(--fundo);
  background-color: var(--titulo);
}
footer {
  width: 100%;
  height: 5.375rem;
  background-color: var(--fundo);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h1 {
  padding-right: 1.25rem;
}
footer p {
  padding-left: 1.25rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 374px) {
  * {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 2vw;
  }
  .image {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .image2 {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #junk-standard {
    padding-top: 1.875rem;
    padding-left: 3rem;
  }
  #junk-shake {
    padding-top: 1.875rem;
    padding-right: 3rem;
  }
  #junk-noah {
    padding-top: 1.875rem;
    padding-left: 3rem;
  }
  #salty-junk {
    padding-top: 1.875rem;
    padding-right: 3rem;
  }
  #junk-fish {
    padding-top: 1.875rem;
    padding-left: 3rem;
  }
  #junk-gateau {
    padding-top: 1.875rem;
    padding-right: 3rem;
  }
  footer p {
    font-size: 1rem;
  }
  .food {
    padding-bottom: 1.875rem;
  }
}

@media only screen and (min-width: 1024px) {
  * {
    font-size: 1.2075471698113207vw;
  }
  .image {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .image2 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  #images1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #images2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #junk-standard {
    padding-top: 0;
    padding-top: 1.875rem;
    padding-left: 7.0625rem;
  }
  #junk-noah {
    padding-top: 1.875rem;
  }
  #junk-fish {
    padding-top: 1.875rem;
    padding-right: 7.0625rem;
  }
  #junk-shake {
    padding-left: 7.0625rem;
  }
  #junk-gateau {
    padding-right: 7.0625rem;
  }
  footer p {
    font-size: 1rem;
  }
  .food {
    padding-bottom: 1.875rem;
  }
}
